<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/style.css">

  <!-- ===== BOX ICONS ===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="../resources/assets/css/styles.css">
  <title>Register</title>
</head>

<body id="body-pd">


      <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="../resources/assets/img/perfil.jpg" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <i class='bx bxs-user' style='color:#e7e1e1'  ></i>
                    <span class="nav__logo-name"></span>
                </a>

                <div class="nav__list">
                  <a href="inicio" class="nav__link active">
                  <i class='bx bx-grid-alt nav__icon' ></i>
                      <span class="nav__name">Inicio</span>
                  </a>

                  <a href="graficos" class="nav__link">
                    <i class='bx bx-bar-chart-alt-2 nav__icon' ></i>
                    <span class="nav__name">Graficos</span>
                </a>

                  <a href="register" class="nav__link">
                      <i class='bx bx-user nav__icon' ></i>
                      <span class="nav__name">Registrar Usuarios</span>
                  </a>
                  
                  <a href="#" class="nav__link">
                      <i class='bx bx-message-square-detail nav__icon' ></i>
                      <span class="nav__name">Messages</span>
                  </a>

                  <a href="#" class="nav__link">
                      <i class='bx bx-bookmark nav__icon' ></i>
                      <span class="nav__name">Favorites</span>
                  </a>

                  <a href="#" class="nav__link">
                      <i class='bx bx-folder nav__icon' ></i>
                      <span class="nav__name">Data</span>
                  </a>

                  <a href="logout" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
              </div>
            </div>

            
        </nav>
    </div>

    <div class="register-form d-inline-flex p-2" style="max-width: 100%;">
      <h1>Form Registration</h1>
      <form action="/register" method="POST">
        <label for="user">Usuario</label>
        <input type="text" name="username" pattern="[a-z]{1,15}" required tabindex="1" autofocus>
        <label for="name">Nombre y Apellido</label>
        <input type="text" name="name" required tabindex="2">
        <label for="email">Correo</label>
        <input type="email" class="email-input" name="email" required tabindex="3">
        <label for="rol">Rol</label>
        <select id="rol" name="rol" class="select-css" tabindex="4">
          <option value="admin" selected>Admin</option>
          <option value="data entry">Data Entry</option>
        </select>
        <br>
        <label for="pass">Password</label>
        <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener mayusculas, minusculas y numeros" required tabindex="5">
        <div style="display: inline;">
          
          <button class="btn btn-primary botonsave" id="botonsave" type="submit">Registrar</button>
        </div>
      </form>
    </div>

    <!--===== MAIN JS =====-->
    <script src="../resources/assets/js/main.js"></script>



              <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

              <% if (typeof alert != "undefined")  { %>
                <script>
                Swal.fire({
                  title:'<%= alertTitle %>',
                  text:'<%= alertMessage %>',
                  icon:'<%= alertIcon %>',
                  showConfirmButton: <%= showConfirmButton %>,
                  timer: <%= timer %>
                }).then(()=>{
                  window.location='/<%= ruta %>'
                })
                </script>
              <% } %>
                  </div>

                  <!-- Bootstrap CSS -->
                  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="resources/js/icons.js"></script>
    <script src="resources/js/script.js"></script>
</body>

</html>